
$footer-height: 200px;

 
html,
body {
 	margin: 0; 
	height: 100%;	
	
}




/*---------------------*/



#rajz {
 	
	margin: auto;
	
}

svg{
    position: fixed;
    stroke:#660000;
	fill:lightgreen;/*#cc3333; */
	stroke-width: 3;
	transform-origin: center center;

	
}
/*
#level1:hover {
 
  -webkit-transform: rotate(360deg); 
  transform:  rotate(1080deg);
}
*/



/*--------------------------------*/







